<% layout('layouts/boilerplate') %>

<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br /><br />
            <h3>Create New Listing</h3>

            <form method="POST" action="/listings">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input
                        type="text"
                        id="title"
                        name="title"
                        class="form-control"
                        placeholder="Enter listing title"
                        required
                    />
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label"
                        >Description</label
                    ><br />
                    <textarea
                        id="description"
                        name="description"
                        rows="4"
                        cols="50"
                        class="form-control"
                        placeholder="Enter listing description"
                        required
                    ></textarea>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input
                        type="text"
                        id="image"
                        name="image"
                        class="form-control"
                        placeholder="Enter image URL"
                    />
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label"
                            >Price (in INR)</label
                        >
                        <input
                            type="number"
                            id="price"
                            name="price"
                            class="form-control"
                            placeholder="Enter price"
                            required
                        />
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input
                            type="text"
                            id="country"
                            name="country"
                            class="form-control"
                            placeholder="Enter country"
                            required
                        />
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input
                        type="text"
                        id="location"
                        name="location"
                        class="form-control"
                        placeholder="Enter location"
                        required
                    />
                </div>

                <button class="btn btn-dark add-btn" type="submit">
                    Create Listing
                </button>

                <br /><br />
            </form>
        </div>
    </div>
</body>
